@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Permanent+Marker&display=swap');
*{
    text-decoration: none;
}

#comingsoon{
    height: 100vh;
    width: 100vw;
    font-size: 20px;
    background-image: url('./guttieslogoblue.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

.everything{
    background-color: black;
}

#randomButton{
    height: 20vh;
    width: 30vw;
    margin-left: 20vw;
    font-family: 'Permanent Marker', cursive;
    color: black;
}

.productsContainer{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    overflow: visible;
    margin-left: .5vw;
    margin-right: 1vw;
    margin-top: 2vh;
    background-color: black;
}

.productsListHeader{
    height: 10vh;
    width: 10vw;
    margin: 0 auto;
    margin-top: 2vh;
    padding-bottom: 1vh;
    border-bottom: solid 3px #2c972c;
    background-image: url('./redAndBlack.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    color: black;
}