@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Permanent+Marker&display=swap');
*{
    text-decoration: none;
}

#comingsoon{
    height: 100vh;
    width: 100vw;
    font-size: 20px;
    background-image: url('./guttieslogoblue.png');
    background-repeat: no-repeat;
    background-position: center;
}

#randomButton{
    height: 20vh;
    width: 30vw;
    margin-left: 20vw;
    font-family: 'Permanent Marker', cursive;
    color: black;
}

.productsContainer{
    position: relative;
    display: inline-flex;
    flex-flow: wrap;
    border: 2px solid #B48B22;
    width: 95vw;
    height: 200vh;
    overflow: visible;
    margin-left: 1vw;
    margin-top: 2vh;
}