*{
    text-align: center;
    text-decoration: none
}

.cartBlock{
    height: 50vh;
    width: 100vw;
    border: solid black 2px;
    text-align: center;
}

.fullCartBlock{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.cartTotal{
    position: fixed;
    right: 0;
    margin-right: 1vw;
    margin-top: 1vw;
    display: inline-flex;
    max-height: 100vh;
    min-height: 80vh;
    width: 30vw;
    z-index: 20;
    text-align: center;
    justify-content: center;
    background-color: #0D2A57;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px #B48B22;
}

.cartItems{
    display: inline-flex;
    flex-direction: column;
    width: 35vw;
    margin: 0 auto;    
    border: solid 2px green;
    height: 60vh;
    overflow: scroll;
}