*{
    text-align: center;
    text-decoration: none
}

/* importing custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Permanent+Marker&display=swap');

.cartEntireCard{
    position: relative;
    margin: 2vh 1vw;
    height: 48vh;
    width: 45vw;
    text-decoration: none;
    border-radius: 12px;
    border: solid 2px #0D2A57;
    background-color: #f3ebd7;
    font-family: 'Permanent Marker', cursive;
    color: #B48B22;
    font-size: 17px;
    display: flex;
    flex-direction: row;
}

.cartMobileentireCard{
    position: relative;
    margin: 4vh 1vw;
    height: 50vh;
    width: 30vw;
    text-decoration: none;
    border-radius: 12px;
    border: solid 2px #0D2A57;
    background-color: #0D2A57;
    font-family: 'Permanent Marker', cursive;
    color: #B48B22;
    font-size: 17px;
    display: none;
    flex-direction: column;
}


.cartItemInfoContainer{
margin-top: 1vw;
margin-left: 1vw;
width: 13vw;
}

#cartNameSpace{
margin-top: 2vw;
margin-bottom: 1vw;
font-size: large;
border-bottom: 2px solid black;
}

#cartAgeSpace{
margin-top: 3vw;
margin-bottom: 1vw;
border-bottom: 2px solid black;
}

#cartQuantitySpace{
margin-top: 3vw;
margin-bottom: 1vw;
border-bottom: 2px solid black;
}

@media only screen and (max-width: 640px){

    .cartEntireCard{
        position: relative;
        margin: 4vh 1vw;
        height: 50vh;
        width: 30vw;
        text-decoration: none;
        border-radius: 12px;
        border: solid 2px #0D2A57;
        background-color: #0D2A57;
        font-family: 'Permanent Marker', cursive;
        color: #B48B22;
        font-size: 17px;
        display: none;
        flex-direction: column;
    }
    
    
    #cartSneakerpicture{
        width: 461;
        height: 270;
    }
    .cartMobileentireCard{
        position: relative;
        margin: 4vh 1vw;
        margin-left: 2vw;
        height: 50vh;
        width: 93vw;
        text-decoration: none;
        border-radius: 12px;
        border: solid 2px #0D2A57;
        background-color: #0D2A57;
        font-family: 'Permanent Marker', cursive;
        color: #B48B22;
        font-size: 17px;
        display: flex;
        flex-direction: column;
    }
    
    #cartMobilesneakerpicture{
        width: 93vw;
        height: 60;
        background-size: cover;
        background-position: center;
    }
    

}