
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Permanent+Marker&display=swap');


#footerBlock{
    height: 50vh;
    width: 100vw;
    background-color: goldenrod;
    display: flex;
    flex-direction: row;
    bottom: 0px;
    position: absolute;
}

.footer-logo-section{
    width: 20vw;
    height: 40vh;
    border-right: 2px solid #0D2A57;
    margin-top: 3vh;
    display:flex;
    flex-direction: column;
}

.footer-logo{
    background-image: url('../5c94dbc22f034501a72288ae529b65fe\ \(3\).png');
    height: 14vh;
    width: 10vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 4vw;
}

.footer-conception-year{
    font-family: 'Permanent Marker', cursive;
    color: #0D2A57;
    margin-left: 7vw;
}

.footer-list-block{
    list-style: none;
}

.footer-section-header{
    padding-bottom: 2vh;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    color: whitesmoke;
    margin-left: 3vw;
}

.footer-list-item{
    font-family: 'Permanent Marker', cursive;
    color: #0D2A57;
    margin-left: 3vw;
    padding-bottom: .5vh;
    font-size: 20px;


}

.footer-left{
height: 40vh;
width: 20vw;
margin-top: 3vh;
display: flex;    
flex-direction: column;
border-right: 2px solid #0D2A57;
}

.footer-center{
    height: 40vh;
    width: 20vw;
    margin-top: 3vh;
    display: flex;    
    flex-direction: column;
    border-right: 2px solid #0D2A57;
}

.footer-right{
    height: 40vh;
    width: 20vw;
    margin-top: 3vh;
    display: flex;    
    flex-direction: column;
    border-right: 2px solid #0D2A57;
}

.footer-social-media{
    height: 40vh;
    width: 20vw;
    margin-top: 3vh;
    display: flex;    
    flex-direction: column;
}