#footerBlock{
    height: 50vh;
    width: 100vw;
    background-color: goldenrod;
    display: flex;
    flex-direction: row;
    bottom: 0px;
    position: absolute;
}

.footer-logo{
    width: 20vw;
    height: 40vh;
    border: 2px solid green;
}

.footer-left{
height: 40vh;
width: 20vw;
border: 2px solid green;
}

.footer-center{
    height: 40vh;
    width: 20vw;
    border: 2px solid green;
}

.footer-right{
    height: 40vh;
    width: 20vw;
    border: 2px solid green;
}

.footer-social-media{
    height: 40vh;
    width: 20vw;
    border: 2px solid green; 
}