


/* importing custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Permanent+Marker&display=swap');

#headerblock{
    position: sticky;
    display: flex;
    flex-direction: row;
    background-color: rgb(83, 16, 16);
    height: 20vh;
    width: 100vw;
    z-index: 100;
    top: 0;
}

#navlist{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.Left_Header{
    width: 20vw;
    border-right: 1px solid #B48B22;
}

.logo-signIn-block{
    width: 19vw;
    height: 14vh;
    position: flex;
    display: flex;
    flex-direction: row;
}

.logo{
    background-image: url('../5c94dbc22f034501a72288ae529b65fe\ \(3\).png');
    height: 14vh;
    width: 10vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cart-signIn-block{
    display: flex;
    flex-direction: column;
}

#signIn{
    font-family: 'Permanent Marker', cursive;
    color: #B48B22;
    font-size: 20px;
    margin-left: 1vw;
    margin-top: 3vh;
}

.cart-icon{
    font-size: 20px;
    color: #B48B22;
    font-family: 'Permanent Marker', cursive;
    margin-left: 1vw;
    margin-top: 2vh;
}

#loginIcon{
    margin-left: 2vw;
}

.Center_Header{
    display: inline-flex;
    flex-direction: column;
    width: 60vw;
}

.searchform{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 8vw;
}

#searchbar{
    margin-top: 4vh;
    height: 4vh;
    width: 40vw;
    border: 1px solid #251B66;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 2;
    text-align: center;
}

#navlist{
    margin-left: 5vw;
}

.navitem{
    margin-left: 4vw;
    font-family: 'Permanent Marker', cursive;
    font-size: larger;
    color: #154e15;
}

#searchbutton{
    height: 5vh;
    width: 4vw;
    background-color: #154E15;
    color: rgb(124, 28, 28);
    margin-top: 4vh;
    border: 2px solid rgb(124, 28, 28);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


#searchbutton:hover{
    height: 5vh;
    width: 4vw;
    background-color: #762FA0;
    color: #B48B22;
    margin-top: 4vh;
    border: 2px solid #251B66;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}



.Right_Header{
    width: 20vw;
}


#cart{
    font-size: 30px;
    margin-top: 3vh;
}

.searchIcon{
    font-size: 30px;
    margin-top: 3vh;
}

#settingsLogoutBlock{
    width: 10vw;
    margin-left: 8vw;
}