*{
    text-align: center;
    text-decoration: none
}

/* importing custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Permanent+Marker&display=swap');

.entireCard{
    position: relative;
    margin-top: 40vh;
    margin-left: 10vw;
    height: 50vh;
    width: 30vw;
    text-decoration: none;
    border-radius: 12px;
    background-color: #0D2A57;
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

:hover .entireCard{
    position: relative;
    margin-top: 40vh;
    margin-left: 10vw;
    height: 50vh;
    width: 30vw;
    text-decoration: none;
    border-radius: 12px;
    background-color: #B48B22;
    font-family: 'Permanent Marker', cursive;
    color: #0D2A57;
    font-size: 17px;
    display: flex;
    flex-direction: column;
}