@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Permanent+Marker&display=swap');


#fullPageBlock{
display: flex;
flex-direction: column;
}

.topBlock{
width: 95vw;
/* border: solid 4px #B48B22; */
margin: 0 auto;
overflow: wrap;
display: inline-flex;
flex-direction: row;
flex-flow: wrap;
}

.productPic{
    width: 45vw;
    height: 65vh;
    margin-left: 3vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border: #0D2A57 1px solid;
}

.productPurchaseSection{
    width: 45vw;
    height: 65vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    background-color: #0D2A57;
}

.middleBlock{
    height: 40vh;
    width: 100vw;
}

.bottomBlock{
    height: 20vh;
    width: 100vw;
}

#headline{
    text-align: center;
    margin-left: auto;
}

.purchaseSections{
margin-top: 3vh;
font-family: 'Permanent Marker', cursive;
word-wrap: break-word;
overflow: wrap;
font-size: 30px;
color: white;
text-align: left;
margin-left: 5vw;
}

.buttonsDiv{
display: flex;
flex-direction: column;
height: 17vh;
width: 20vw;
align-items: center;
margin: 0 auto;
}
#purchaseButtons{
    height: 7vh;
    width: 18vw;
    margin-top: 2vh;
    background-color: #B48B22;
    color: #0D2A57;
    border: solid 2px #0D2A57;
    font-family: 'Permanent Marker', cursive;
    font-size: 27px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#price{
    display: flex;
    flex-direction: row;
    margin-right: 3vw;
    margin-left: 7vw;
    color: #B48B22;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}