*{
    text-align: center;
    text-decoration: none
}

/* importing custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Permanent+Marker&display=swap');

.entireCard{
    position: relative;
    margin: 4vh 1vw;
    height: 50vh;
    width: 30vw;
    text-decoration: none;
    border-radius: 12px;
    border: solid 2px rgb(83, 16, 16);
    background-color: rgb(83, 16, 16);
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 17px;
    display: flex;
    flex-direction: column;
}

 .entireCard:hover{
    position: relative;
    margin: 3vh 1vw;
    height: 50vh;
    width: 30vw;
    border: solid rgb(83, 16, 16) 2px;
    text-decoration: none;
    border-radius: 12px;
    background-color: rgb(83, 16, 16);
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-size: 21px;
    display: flex;
    flex-direction: column;
}

