@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Permanent+Marker&display=swap');




#fullPageBlock{
    display: flex;
    flex-direction: column;
    }
    
    .topBlock{
    width: 95vw;
    /* border: solid 4px #B48B22; */
    margin: 0 auto;
    overflow: wrap;
    display: inline-flex;
    flex-direction: row;
    flex-flow: wrap;
    }
    
    .productPic{
        width: 45vw;
        height: 65vh;
        margin-left: 3vw;
        margin-top: 3vh;
        margin-bottom: 3vh;
        border: #0D2A57 1px solid;
    }
    
    .productPurchaseSection{
        width: 45vw;
        height: 65vh;
        margin-top: 3vh;
        margin-bottom: 3vh;
        background-color: #0D2A57;
    }
    
    .middleBlock{
        height: 40vh;
        width: 100vw;
    }
    
    .bottomBlock{
        height: 20vh;
        width: 100vw;
    }
    
    #headline{
        text-align: center;
        margin-left: auto;
    }

    #quantitySelector{
        margin-left: 1vw;
        background-color:#0D2A57;
        color: white;
        font-family: 'Permanent Marker', cursive;
        height: 30px;
        width: 35px;
        font-size: 26px;
        border:solid 1px white;
        visibility: hidden;
        display: none;
        }
    
    .purchaseSections{
    margin-top: 1.5vh;
    font-family: 'Permanent Marker', cursive;
    word-wrap: break-word;
    overflow: wrap;
    font-size: 30px;
    color: white;
    text-align: left;
    margin-left: 5vw;
    }
    
    .buttonsDiv{
    display: flex;
    flex-direction: row;
    height: 14vh;
    width: 40vw;
    align-items: center;
    margin: 0 auto;
    }
    
    
    #purchaseButtonCart{
        height: 7vh;
        width: 18vw;
        margin-top: 2vh;
        margin-left: 1vw;
        background-color: #B48B22;
        color: #0D2A57;
        border: solid 2px #0D2A57;
        font-family: 'Permanent Marker', cursive;
        font-size: 22px;
    }
    
    /* 762FA0 */
    #purchaseButtonCart:hover{
        height: 7vh;
        width: 18vw;
        margin-top: 2vh;
        margin-left: 1vw;
        background-color: #762FA0;
        color: #B48B22;
        border: solid 2px #0D2A57;
        font-family: 'Permanent Marker', cursive;
        font-size: 22px;
    }
    
    
    #purchaseButtonBuy{
        height: 7vh;
        width: 18vw;
        margin-top: 2vh;
        margin-left: 1vw;
        background-color: #0D2A57;
        color: #B48B22;
        border: solid 2px #0D2A57;
        font-family: 'Permanent Marker', cursive;
        font-size: 22px;
        border: solid 2px #B48B22;
    }
    
    #purchaseButtonBuy:hover{
        height: 7vh;
        width: 18vw;
        margin-top: 2vh;
        margin-left: 1vw;
        background-color: green;
        color: #0D2A57;
        border: solid 2px #0D2A57;
        font-family: 'Permanent Marker', cursive;
        font-size: 22px;
        border: solid 2px green;
    }
    
    #price{
        display: flex;
        flex-direction: row;
        margin-right: 3.5vw;
        margin-left: 7vw;
        color: #B48B22;
        letter-spacing: 1.5px;
        font-weight: 100;
        font-size: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    #date{
        color: #B48B22;
    }
    
    .rightSectionBlock{
        margin-top: 10vh;
    }




    #mobilefullPageBlock{
        display: none;
        flex-direction: column;
        }
        
        .mobiletopBlock{
        width: 97vw;
        /* border: solid 4px #B48B22; */
        margin: 0 auto;
        overflow: wrap;
        display: none;
        flex-direction: row;
        flex-flow: wrap;
        }
        
        .mobileproductPic{
            width: 45vw;
            height: 30vh;
            margin-left: 3vw;
            margin-top: 3vh;
            margin-bottom: 3vh;
            border: #0D2A57 1px solid;
            visibility: hidden;
            display: none;
        }
        
        .mobileproductPurchaseSection{
            width: 45vw;
            height: 30vh;
            margin-top: 3vh;
            margin-bottom: 1vh;
            background-color: #0D2A57;
            border: solid 2px purple;
            justify-content: start;
            visibility: hidden;
            display: none;
        }
        
        .mobilemiddleBlock{
            height: 40vh;
            width: 80vw;
            visibility: hidden;
            display: none;
        }
        
        .mobilebottomBlock{
            height: 2vh;
            width: 100vw;
            visibility: hidden;
            display: none;
        }
        
        #mobileheadline{
            text-align: center;
            margin-left: auto;
            font-size: 20px;
            visibility: hidden;
            display: none;
        }
        
        .mobilepurchaseSections{
        margin-top: .5vh;
        font-family: 'Permanent Marker', cursive;
        word-wrap: break-word;
        overflow: wrap;
        font-size: 12px;
        height: 5vh;
        color: white;
        text-align: left;
        margin-left: 2vw;
        visibility: hidden;
        display: none;
        }
        
        
        #mobilequantitySelector{
        margin-left: 1vw;
        margin-top: 1vw;
        background-color: #0D2A57;
        color: white;
        font-family: 'Permanent Marker', cursive;
        height: 11px;
        width: 14px;
        font-size: 8px;
        border:solid 1px white;
        visibility: hidden;
        display: none;
        }
        
        #mobilequantitySelectorNormal{
            margin-left: '1vw';
            background-color:'#0D2A57';
            color: 'white';
            font-family: "'Permanent Marker', cursive";
            height: '30px';
            width: '35px';
            font-size: '26px';
            border:'solid 1px white';
            visibility: hidden;
            display: none;
            }
        
        .mobilebuttonsDiv{
            display: none;
            flex-direction: row;
        height: 8vh;
        width: 10vw;
        align-items: center;
        margin: 0 auto;
        width: 43vw;
        visibility: hidden;
        }
        
        
        #mobilepurchaseButtonCart{
            height: 6vh;
            width: 20vw;
            margin-top: 2vh;
            margin-left: 1vw;
            background-color: #B48B22;
            color: #0D2A57;
            border: solid 2px #0D2A57;
            font-family: 'Permanent Marker', cursive;
            font-size: 11px;
            font-weight: 500;
            visibility: hidden;
            display: none;
        }
        
        /* 762FA0 */
        #mobilepurchaseButtonCart:hover{
            height: 7vh;
            width: 18vw;
            margin-top: 2vh;
            margin-left: 1vw;
            background-color: #762FA0;
            color: #B48B22;
            border: solid 2px #0D2A57;
            font-family: 'Permanent Marker', cursive;
            font-size: 22px;
            visibility: hidden;
            display: none;
        }
        
        
        #mobilepurchaseButtonBuy{
            height: 6vh;
            width: 18vw;
            margin-top: 2vh;
            margin-left: 3vw;
            background-color: #0D2A57;
            color: #B48B22;
            border: solid 2px #0D2A57;
            font-family: 'Permanent Marker', cursive;
            font-size: 12px;
            border: solid 2px #B48B22;
            visibility: hidden;
            display: none;
        }
        
        #mobilepurchaseButtonBuy:hover{
            height: 7vh;
            width: 18vw;
            margin-top: 2vh;
            margin-left: 1vw;
            background-color: green;
            color: #0D2A57;
            border: solid 2px #0D2A57;
            font-family: 'Permanent Marker', cursive;
            font-size: 22px;
            border: solid 2px green;
            visibility: hidden;
            display: none;
        }
        
        #mobileprice{
            display: none;
            flex-direction: row;
            height: 3vh;
            margin-right: 3.5vw;
            margin-left: 7vw;
            color: #B48B22;
            letter-spacing: 1.5px;
            font-weight: 100;
            font-size: 13px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            visibility: hidden;
        }
        
        #mobiledate{
            color: #B48B22;
            visibility: hidden;
            display: none;
        }
        
        .mobilerightSectionBlock{
            margin-top: 1vh;
            visibility: hidden;
            display: none;
        }
            #mobilefullPageBlock{
                display: none;
                flex-direction: column;
        visibility: hidden;
}

.mobiletopBlock{
width: 97vw;
/* border: solid 4px #B48B22; */
margin: 0 auto;
overflow: wrap;
display: none;
flex-direction: row;
flex-flow: wrap;
visibility: hidden;
}

.mobileproductPic{
    width: 45vw;
    height: 30vh;
    margin-left: 3vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border: #0D2A57 1px solid;
    visibility: hidden;
    display: none;
}

.mobileproductPurchaseSection{
    width: 45vw;
    height: 30vh;
    margin-top: 3vh;
    margin-bottom: 1vh;
    background-color: #0D2A57;
    border: solid 2px purple;
    justify-content: start;
    visibility: hidden;
    display: none;
}

.mobilemiddleBlock{
    height: 40vh;
    width: 80vw;
    visibility: hidden;
    display: none;
}

.mobilebottomBlock{
    height: 2vh;
    width: 100vw;
    visibility: hidden;
    display: none;
}

#mobileheadline{
    text-align: center;
    margin-left: auto;
    font-size: 20px;
    visibility: hidden;
    display: none;
}

.mobilepurchaseSections{
margin-top: .5vh;
font-family: 'Permanent Marker', cursive;
word-wrap: break-word;
overflow: wrap;
font-size: 12px;
height: 5vh;
color: white;
text-align: left;
margin-left: 2vw;
visibility: hidden;
display: none;
}


#mobilequantitySelector{
margin-left: 1vw;
margin-top: 1vw;
background-color: #0D2A57;
color: white;
font-family: 'Permanent Marker', cursive;
height: 11px;
width: 14px;
font-size: 8px;
border:solid 1px white;
visibility: hidden;
display: none;
}

#mobilequantitySelectorNormal{
    margin-left: '1vw';
    background-color:'#0D2A57';
    color: 'white';
    font-family: "'Permanent Marker', cursive";
    height: '30px';
    width: '35px';
    font-size: '26px';
    border:'solid 1px white';
    visibility: hidden;
    display: none;
    }

.mobilebuttonsDiv{
    display: none;
    flex-direction: row;
height: 8vh;
width: 10vw;
align-items: center;
margin: 0 auto;
width: 43vw;
visibility: hidden;
}


#mobilepurchaseButtonCart{
    height: 6vh;
    width: 20vw;
    margin-top: 2vh;
    margin-left: 1vw;
    background-color: #B48B22;
    color: #0D2A57;
    border: solid 2px #0D2A57;
    font-family: 'Permanent Marker', cursive;
    font-size: 11px;
    font-weight: 500;
    visibility: hidden;
    display: none;
}

/* 762FA0 */
#mobilepurchaseButtonCart:hover{
    height: 7vh;
    width: 18vw;
    margin-top: 2vh;
    margin-left: 1vw;
    background-color: #762FA0;
    color: #B48B22;
    border: solid 2px #0D2A57;
    font-family: 'Permanent Marker', cursive;
    font-size: 22px;
    visibility: hidden;
    display: none;
}


#mobilepurchaseButtonBuy{
    height: 6vh;
    width: 18vw;
    margin-top: 2vh;
    margin-left: 3vw;
    background-color: #0D2A57;
    color: #B48B22;
    border: solid 2px #0D2A57;
    font-family: 'Permanent Marker', cursive;
    font-size: 12px;
    border: solid 2px #B48B22;
    visibility: hidden;
    display: none;
}

#mobilepurchaseButtonBuy:hover{
    height: 7vh;
    width: 18vw;
    margin-top: 2vh;
    margin-left: 1vw;
    background-color: green;
    color: #0D2A57;
    border: solid 2px #0D2A57;
    font-family: 'Permanent Marker', cursive;
    font-size: 22px;
    border: solid 2px green;
    visibility: hidden;
    display: none;
}

#mobileprice{
    display: none;
    flex-direction: row;
    height: 3vh;
    margin-right: 3.5vw;
    margin-left: 7vw;
    color: #B48B22;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    visibility: hidden;
}

#mobiledate{
    color: #B48B22;
    visibility: hidden;
    display: none;
}

.mobilerightSectionBlock{
    margin-top: 1vh;
    visibility: hidden;
    display: none;
}
        








@media only screen and (max-width: 640px){

    #fullPageBlock{
        display: none;
        flex-direction: column;
        }
        
        .topBlock{
        width: 95vw;
        /* border: solid 4px #B48B22; */
        margin: 0 auto;
        overflow: wrap;
        display: none;
        flex-direction: row;
        flex-flow: wrap;
        }
        
        .productPic{
            width: 45vw;
            height: 65vh;
            margin-left: 3vw;
            margin-top: 3vh;
            margin-bottom: 3vh;
            border: #0D2A57 1px solid;
            visibility: hidden;
            display: none;
        }
        
        .productPurchaseSection{
            width: 45vw;
            height: 65vh;
            margin-top: 3vh;
            margin-bottom: 3vh;
            background-color: #0D2A57;
            visibility: hidden;
            display: none;
        }
        
        .middleBlock{
            height: 40vh;
            width: 100vw;
            visibility: hidden;
            display: none;
        }
        
        .bottomBlock{
            height: 20vh;
            width: 100vw;
            visibility: hidden;
            display: none;
        }
        
        #headline{
            text-align: center;
            margin-left: auto;
            visibility: hidden;
            display: none;
        }
        
        .purchaseSections{
        margin-top: 1.5vh;
        font-family: 'Permanent Marker', cursive;
        word-wrap: break-word;
        overflow: wrap;
        font-size: 30px;
        color: white;
        text-align: left;
        margin-left: 5vw;
        visibility: hidden;
        display: none;
        }
        
        .buttonsDiv{
            display: none;
            flex-direction: row;
        height: 14vh;
        width: 40vw;
        align-items: center;
        margin: 0 auto;
        visibility: hidden;
        }
        
        
        #purchaseButtonCart{
            height: 7vh;
            width: 18vw;
            margin-top: 2vh;
            margin-left: 1vw;
            background-color: #B48B22;
            color: #0D2A57;
            border: solid 2px #0D2A57;
            font-family: 'Permanent Marker', cursive;
            font-size: 22px;
            visibility: hidden;
            display: none;
        }
        
        /* 762FA0 */
        #purchaseButtonCart:hover{
            height: 7vh;
            width: 18vw;
            margin-top: 2vh;
            margin-left: 1vw;
            background-color: #762FA0;
            color: #B48B22;
            border: solid 2px #0D2A57;
            font-family: 'Permanent Marker', cursive;
            font-size: 22px;
            visibility: hidden;
            display: none;
        }
        
        
        #purchaseButtonBuy{
            height: 7vh;
            width: 18vw;
            margin-top: 2vh;
            margin-left: 1vw;
            background-color: #0D2A57;
            color: #B48B22;
            border: solid 2px #0D2A57;
            font-family: 'Permanent Marker', cursive;
            font-size: 22px;
            border: solid 2px #B48B22;
            visibility: hidden;
            display: none;
        }
        
        #purchaseButtonBuy:hover{
            height: 7vh;
            width: 18vw;
            margin-top: 2vh;
            margin-left: 1vw;
            background-color: green;
            color: #0D2A57;
            border: solid 2px #0D2A57;
            font-family: 'Permanent Marker', cursive;
            font-size: 22px;
            border: solid 2px green;
            visibility: hidden;
            display: none;
        }
        
        #price{
            display: none;
            flex-direction: row;
            margin-right: 3.5vw;
            margin-left: 7vw;
            color: #B48B22;
            letter-spacing: 1.5px;
            font-weight: 100;
            font-size: 30px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            visibility: hidden;
        }
        
        #date{
            color: #B48B22;
            visibility: hidden;
            display: none;
        }
        
        .rightSectionBlock{
            margin-top: 10vh;
            visibility: hidden;
            display: none;
        }





#mobilefullPageBlock{
display: flex;
flex-direction: column;
visibility: visible;
}

.mobiletopBlock{
width: 97vw;
/* border: solid 4px #B48B22; */
margin: 0 auto;
overflow: wrap;
display: inline-flex;
flex-direction: row;
flex-flow: wrap;
visibility: visible;
}

.mobileproductPic{
    display: block;
    width: 45vw;
    height: 30vh;
    margin-left: 3vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    visibility: visible;
}

.mobileproductPurchaseSection{
    display: flex;
    width: 45vw;
    height: 30vh;
    margin-top: 3vh;
    margin-bottom: 1vh;
    background-color: #0D2A57;
    justify-content: start;
    visibility: visible;
}

.mobilemiddleBlock{
    display: block;
    height: 30vh;
    width: 95vw;
    visibility: visible;
}

.mobilebottomBlock{
    display: block;
    height: 2vh;
    width: 100vw;
    visibility: visible;
}

#mobileheadline{
    display: inline-block;
    text-align: center;
    margin-left: auto;
    font-size: 20px;
    visibility: visible;
}

.mobilepurchaseSections{
display: inline-flex;
margin-top: .5vh;
font-family: 'Permanent Marker', cursive;
word-wrap: break-word;
overflow: wrap;
font-size: 12px;
height: 5vh;
color: white;
text-align: center;
margin-left: 3vw;
visibility: visible;
}


#mobilequantitySelector{
display: inline-block;
margin-left: 1vw;
margin-top: 1vw;
background-color: #0D2A57;
color: white;
font-family: 'Permanent Marker', cursive;
height: 11px;
width: 14px;
font-size: 8px;
border:solid 1px white;
visibility: visible;
}

#mobilequantitySelectorNormal{
    display: inline-block;
    margin-left: '1vw';
    background-color:'#0D2A57';
    color: 'white';
    font-family: "'Permanent Marker', cursive";
    height: '30px';
    width: '35px';
    font-size: '26px';
    border:'solid 1px white';
    visibility: visible;
    }

.mobilebuttonsDiv{
display: flex;
flex-direction: row;
height: 8vh;
width: 10vw;
align-items: center;
margin: 0 auto;
width: 43vw;
visibility: visible;
}


#mobilepurchaseButtonCart{
    display: block;
    height: 6vh;
    width: 20vw;
    margin-top: 2vh;
    margin-left: 1vw;
    background-color: #B48B22;
    color: #0D2A57;
    border: solid 2px #0D2A57;
    font-family: 'Permanent Marker', cursive;
    font-size: 11px;
    font-weight: 500;
    visibility: visible;
}

/* 762FA0 */
#mobilepurchaseButtonCart:hover{
    display: block;
    height: 7vh;
    width: 18vw;
    margin-top: 2vh;
    margin-left: 1vw;
    background-color: #762FA0;
    color: #B48B22;
    border: solid 2px #0D2A57;
    font-family: 'Permanent Marker', cursive;
    font-size: 22px;
    visibility: visible;
}


#mobilepurchaseButtonBuy{
    display: block;
    height: 6vh;
    width: 18vw;
    margin-top: 2vh;
    margin-left: 3vw;
    background-color: #0D2A57;
    color: #B48B22;
    border: solid 2px #0D2A57;
    font-family: 'Permanent Marker', cursive;
    font-size: 12px;
    border: solid 2px #B48B22;
    visibility: visible;
}

#mobilepurchaseButtonBuy:hover{
    display: block;
    height: 7vh;
    width: 18vw;
    margin-top: 2vh;
    margin-left: 1vw;
    background-color: green;
    color: #0D2A57;
    border: solid 2px #0D2A57;
    font-family: 'Permanent Marker', cursive;
    font-size: 22px;
    border: solid 2px green;
    visibility: visible;
}

#mobileprice{
    display: flex;
    flex-direction: row;
    height: 3vh;
    margin-left: 13vw;
    color: #B48B22;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 11px;    
    visibility: visible;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

#mobiledate{
    color: #B48B22;
    visibility: visible;
}

.mobilerightSectionBlock{
    margin-top: 1vh;
    display: block;
    visibility: visible;
}
}