*{
    text-align: center;
    text-decoration: none
}

/* importing custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Permanent+Marker&display=swap');

.entireCard{
    position: relative;
    margin: 4vh 1vw;
    height: 50vh;
    width: 30vw;
    text-decoration: none;
    border-radius: 12px;
    border: solid 2px #0D2A57;
    background-color: #0D2A57;
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 17px;
    display: flex;
    flex-direction: column;
}

 .entireCard:hover{
    position: relative;
    margin: 3vh 1vw;
    height: 50vh;
    width: 30vw;
    border: solid #0D2A57 2px;
    text-decoration: none;
    border-radius: 12px;
    background-color: #B48B22;
    font-family: 'Permanent Marker', cursive;
    color: #0D2A57;
    font-size: 17px;
    display: flex;
    flex-direction: column;
}